In [1]:
import pandas as pd
import numpy as np

In [61]:
data = [{'speaker': 'speaker1', 'mfcc': np.array([11, 2, 3.0])},
         {'speaker': 'speaker2',  'mfcc': np.array([3.3, 2, 3.0])},
          {'speaker': 'speaker2',  'mfcc': np.array([11, 2, 3.0])},
         {'speaker': 'speaker3',  'mfcc': np.array([12, 2, 3.0])},
         {'speaker': 'speaker3',  'mfcc': np.array([14, 2, 3.0])}]
df = pd.DataFrame(data)
df.head()

    speaker              mfcc
0  speaker1  [11.0, 2.0, 3.0]
1  speaker2   [3.3, 2.0, 3.0]
2  speaker2  [11.0, 2.0, 3.0]
3  speaker3  [12.0, 2.0, 3.0]
4  speaker3  [14.0, 2.0, 3.0]

In [69]:
unique_speakers = df['speaker'].unique()
average_mfccs_list = []
for s in df['speaker'].unique():
    mfcc = df[df['speaker'] == s]['mfcc']
    average_mfccs_list.append({'speaker':s, 'avg_mfcc':mfcc.mean()})

In [70]:
average_mfccs_df = pd.DataFrame(average_mfccs_list)
average_mfccs_df.head()

    speaker          avg_mfcc
0  speaker1  [11.0, 2.0, 3.0]
1  speaker2  [7.15, 2.0, 3.0]
2  speaker3  [13.0, 2.0, 3.0]

In [71]:
df.head()

    speaker              mfcc
0  speaker1  [11.0, 2.0, 3.0]
1  speaker2   [3.3, 2.0, 3.0]
2  speaker2  [11.0, 2.0, 3.0]
3  speaker3  [12.0, 2.0, 3.0]
4  speaker3  [14.0, 2.0, 3.0]

In [74]:
df['ela'] = df['speaker'] + '2'

In [75]:
df.head()

    speaker              mfcc        ela
0  speaker1  [11.0, 2.0, 3.0]  speaker12
1  speaker2   [3.3, 2.0, 3.0]  speaker22
2  speaker2  [11.0, 2.0, 3.0]  speaker22
3  speaker3  [12.0, 2.0, 3.0]  speaker32
4  speaker3  [14.0, 2.0, 3.0]  speaker32

In [85]:
def test():
    try:
        return np.linalg.norm(np.array([1,2,3,3])-np.array([1,2,3]))
    except ValueError as e:
        return np.inf
    
test()

inf